
h1,h2,h3 {font-family: Arial, sans-serif;}   
p, table, li, address {                 /* apply to all these tags */
	font-family: "Courier New";	     /* quote values containing spaces */ 
	margin-left: 15pt;
	border = 0;                  /* specify indentation */
}

p, li, th, td {
	font-size: 80%;
} 
     /* 80% of size in containing element */
th {
	background-color:#D9D9D9
}  /* colors can be specified in hex */

body { 
	background-color:#EBEDEF;
}
/*
a:link    {
	color:darkred
}	     /* an unvisited link */
/*
a:visited {
	color:darkred
}	     /* a link that has been visited */
/*
a:active  {
	color:red
}		     /* a link now being visited */
/*
a:hover   {
	color:red
}		     /* when the mouse hovers over it */

table, th, td {
	border: 1px solid black;
}

#submitButton {
	margin-left: 25px;
}

header {
	background-color: black;
	margin-left: -8px;
	width: 102%;
	margin-top: -22px;
}

footer {
	background-color: black;
	position: fixed;
	bottom: 30px;
	margin-bottom: -30px;
	width: 100%;
	margin-left: -8px;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

label, input, select, textarea {
		display: block;
		width: 200px;
		float: left;
		margin-bottom: 1em;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.clear {
	clear: both;
}

#title {
	padding-left: 10px;
	color: white;
}

#footertext {
	color: white;
}

#homepagelinks li{
	list-style: none;
	padding-top: 15px;
}

#loginLink {
	margin-top: 20px;
	height:  20px;
	width: 150px;
	font-size: 20px;
}

#signupLink {
	margin-top: 20px;
	height:  20px;
	width: 150px;
	font-size: 20px;
}

#homebutton {
	color: white;
	float: left;
}

#links {
	margin-top: -10px;
}

#star {
	position: absolute;
	bottom: 33px;
	left: 10px;
	float: left;
}

#passwordstuff {
	position: absolute;
	bottom: 30px;
	left: 0;
	font-size: 10px;
}