
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/../static/css/format.css">
<style>
table, td {
    border: 1px solid black;
}
</style>
</head>
<body>

<header>
    <h1 id="title">All of Us</h1>
</header>

<ul id="links">
    <li><a href="/../homepageAllofUs"><i class="glyphicon glyphicon-home"></i> Home </a></li>
    <li><a href="/../profile"><i class="glyphicon glyphicon-user"></i> Profile </a></li>
    <li><a href="/../settings"><i class="fa fa-cog fa-spin"></i> Settings</a></li>
    <!--<li><a href="/locations"> Locations</a></li>-->
    <li><a href="/slideshow"> Slideshow</a></li>
    <li style="float:right"><a class="active" href="#about"><i class="fa fa-power-off"></i> Sign Out</a></li>
</ul>

<div class="posting">
			<div class="container">
			<table id="myTable" width="50%">
				<!-- Table header -->
                    <thead>
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Device</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <!-- Table footer -->
                    <tfoot>
                    <tr>
                        <td>END</td>
                    </tr>
                    </tfoot>
                    <!-- Table body -->
                    <tbody>
                    {{ range . }}
                    <tr>
  						<td>{{ .Loc }}</td>
                        <td>{{ .Device }}</td>
                        <td>{{ .Date }}</td>
 					 <td><input type="submit" value="Delete" onclick="deleteRow(this)"></td>
					</tr>
                    {{ end }}
                    </tbody>
				
			
			</table>
			</div>
		</div>
		
		
		<br>
		
<script>
function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    var table = document.getElementById('myTable');
    var loc = table.rows[i].cells[1].innerHTML; //probably gonna change to 0
    var dev = table.rows[i].cells[0].innerHTML; //dev change to 1
    //alert(loc);
    post()
    document.getElementById("myTable").deleteRow(i);
    
    var d = new Date();
    d.setTime(d.getTime() + (1 * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = "location" + "=" + loc + ";" + expires + ";path=/";
    document.cookie = "device"+"="+dev+";" + expires + ";path=/";
}
function post() {
    document.body.innerHTML += '<form id="dynForm" action="/locations" method="post"><input type="hidden" name="q" value="a" onclick="alert("Deleted location/device");window.location.reload()"></form>';
	document.getElementById("dynForm").submit();
}
</script>
<footer>
    <p id="footertext">Copyright 2018</p>
</footer>
</body>
</html>